.button-grid {
    display:grid;
    grid-template-areas: 
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
    grid-gap: 0em;
}